// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.cv-form {
  &__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
