// -----------------------------------------------------------------------------
// This file contains all styles related to general layout site/application.
// -----------------------------------------------------------------------------


body {
  padding: 0 1.5rem;
  letter-spacing: 0.0625rem;
}

#app {
  max-width: 960px;
  margin: 0 auto ;
}

.app-content {
  margin-top: 1.5rem
}
